@{
    ViewData["Title"] = "FAQ";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>Frequently Asked Questions</p>
</div>

<div class="list-group">
        <h4>What Am I Allowed To Wear?</h4>
        <p>Casual clothing is fine, but nothing that you wouldn't wear to the office, (no pajamas, no overly revealing clothing, no innapropriate symbols or words).</p>

</div>