@{
    ViewData["Title"] = "Links";
}

<div class="text-center container">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>Links Related To Our Club And Useful Sites</p>
</div>

<div class="container">
    <div class="row">
        <a href="">Games Wishlist</a>
    </div>

    <div class="row">
        <a href="">Sites For Rules</a>
    </div>

    <div class="row">
        <a href="">Dice Roller If You Don't Have Dice!</a>
    </div>
</div>