@{
    ViewData["Title"] = "Links";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>Links Related To Our Club And Useful Sites</p>
</div>

<div class="list-group">
    <p><a href="">Games Wishlist</a></p>
    <p><a href="">Sites For Rules</a></p>
    <p><a href="">Dice Roller If You Don't Have Dice!</a></p>
</div>