@{
    ViewData["Title"] = "Donate Games";
}

<div class="text-center container">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>If you'd like to donate to our club, you can reach out to: </p>
</div>