@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Thurston Board Game Club</h1>
    <p>Come play and make some friends.</p>
</div>

<div class="container">
    <div class="col">
        <div class="row">
            <a asp-controller="Home" asp-action="History">History of TBGC</a>
        </div>

        <div class="row">
            <a asp-controller="Account" asp-action="Register">Register An Account</a>
        </div>

        <div class="row">
            <a asp-controller="Home" asp-action="MessageBoard">View The Message Board</a>
        </div>
    </div>
</div>