@{
    ViewData["Title"] = "FAQ";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>Frequently Asked Questions</p>
</div>

<div class="container">
    <div class="row">
        <h4>What Am I Allowed To Wear?</h4>
    </div>

    <div class="row">
        <p>
            Casual clothing is fine, but nothing that you wouldn't wear to the office,
            (no pajamas, no overly revealing clothing, no innapropriate symbols or words).
        </p>
    </div>
</div>